pkgbase = creel-bin
pkgname = creel-bin
pkgver = 0.6.1
pkgrel = 1
pkgdesc = Fast, vim-driven SQL TUI for SQLite, MySQL, and PostgreSQL
url = https://github.com/rsiota/creel
arch = x86_64
arch = aarch64
license = MIT
provides = creel
conflicts = creel
source_x86_64 = https://github.com/rsiota/creel/releases/download/v0.6.1/creel_0.6.1_Linux_x86_64.tar.gz
sha256sums_x86_64 = ecb9f3094cc6f058421ba972009103e499211f028290e92d6198773aced8eff1
source_aarch64 = https://github.com/rsiota/creel/releases/download/v0.6.1/creel_0.6.1_Linux_arm64.tar.gz
sha256sums_aarch64 = c1d7e49422a18a7cc4ba619f48c4fb116456ff23d0c2b9ee4342b8b346e0a53a
