pkgbase = creel-bin
pkgname = creel-bin
pkgver = 0.6.0
pkgrel = 1
pkgdesc = Fast, vim-driven SQL TUI for SQLite, MySQL, and PostgreSQL
url = https://github.com/rsiota/creel
arch = x86_64
arch = aarch64
license = MIT
provides = creel
conflicts = creel
source_x86_64 = https://github.com/rsiota/creel/releases/download/v0.6.0/creel_0.6.0_Linux_x86_64.tar.gz
sha256sums_x86_64 = e0656e72a8306b3467666f2c4fc51fc6d73a6bd27f69bff729a57ab192464995
source_aarch64 = https://github.com/rsiota/creel/releases/download/v0.6.0/creel_0.6.0_Linux_arm64.tar.gz
sha256sums_aarch64 = 821c9711b4a1227e4dc7b60f44d038ede87266de4530c669fa3518e744e78560
