pkgbase = creel-bin
pkgname = creel-bin
pkgver = 0.5.0
pkgrel = 1
pkgdesc = Fast, vim-driven SQL TUI for SQLite, MySQL, and PostgreSQL
url = https://github.com/rsiota/creel
arch = x86_64
arch = aarch64
license = MIT
provides = creel
conflicts = creel
source_x86_64 = https://github.com/rsiota/creel/releases/download/v0.5.0/creel_0.5.0_Linux_x86_64.tar.gz
sha256sums_x86_64 = 67a142b2456ca08d2e73ba3f5c23c1932e476a8e660d43fd72236efe90389c66
source_aarch64 = https://github.com/rsiota/creel/releases/download/v0.5.0/creel_0.5.0_Linux_arm64.tar.gz
sha256sums_aarch64 = 1ccd552f66ac81a52fa7fce710e28e47841af9622caea8d78af9baefb7bd086f
